html,
body {
  height: 100%;
}


body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color:  rgb(20, 29, 40);
}

html, input, textarea, button, p {
  font-family: Inter, sans-serif !important;
}

.links {
  display: flex;
    flex-flow: row nowrap;
    border-radius: 3rem;
    outline: none;
    cursor: pointer;
    text-decoration: none;
    color: rgb(195, 197, 203);
    font-size: 1rem;
    width: fit-content;
    margin: 0px 12px;
    font-weight: 600;
}

.links-md {
  display: flex;
    flex-flow: row nowrap;
    border-radius: 3rem;
    outline: none;
    cursor: pointer;
    text-decoration: none;
    color: rgb(195, 197, 203);
    font-size: 1rem;
    margin: 0px 12px;
    font-size: 12px;
    font-weight: 600;
}

.links-sm {
  display: flex;
    flex-flow: row nowrap;
    border-radius: 3rem;
    outline: none;
    cursor: pointer;
    text-decoration: none;
    color: rgb(195, 197, 203);
    font-size: 1rem;
    width: fit-content;
    margin: 0px 12px;
    font-weight: 600;
}

.copycat {
  
    flex-flow: row nowrap;
    border-radius: 3rem;
    outline: none;
    cursor: pointer;
    text-decoration: none;
    color: rgb(195, 197, 203);
    font-size: 1rem;
    margin: 0px 12px;
    font-weight: 600;
}

.Sparkleswap-Landing {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.Sparkleswap-Landing .checkbox {
  font-weight: 400;
}
.Sparkleswap-Landing .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.Sparkleswap-Landing .form-control:focus {
  z-index: 2;
}
.Sparkleswap-Landing input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.Sparkleswap-Landing input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}



#emoji{
  text-anchor:middle;
  padding:0;
  margin:0;
  user-select:none;
  height: 100px;
 }

 
 svg {
  width: 100%;
  height: 100%;
  visibility: hidden;
  
 }

 .info-box {
  padding: 15px;
  height: 120px;
}
 .bottom-section {
  margin-top: 50px;

 }

 